*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: #22223b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vmin;
    text-decoration: underline;
}
#winMsg{
    font-size: 5vmin;
    margin-top: 10px;
    border: 3px solid #22223b;;
    border-radius: 10px;
    color: #22223b;
    background-color: #f2e9e4;
    font-size: 5vmin;
    font-family:  'Times New Roman', Times, serif;
    font-weight: bold ;
}
.hide{
    display: none;
}
body{
    background-color: #9a8c98;
    text-align: center;
}
#container{
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#game{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 12vmin;
    color: #22223b;
    border-radius: 10%;
    border: none;
    box-shadow: 2 0 10% rgb(0, 0, 0, 1);
    background-color: #f2e9e4;
    cursor: pointer;
}
#reset{
    height: 6vmin;
    width: 18vmin;
    font-size: 2.5vmin ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 35%;
    background-color:#22223b;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.new{
    height: 6vmin;
    width: 18vmin;
    font-size: 2.5vmin ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 35%;
    background-color:#22223b;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#footerText{
    margin-top: 23px;
    font-size: 3vmin;
    color: #22223b;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:500px){
    .new{
    height: 12vmin;
    width: 24vmin;
    font-size: 4vmin;
    margin-right: 1rem;
    }
    #reset{
    height: 12vmin;
    width: 24vmin;
    font-size: 4vmin ;
    margin-left: 1rem;
    }
    h1{
        margin-top: 3rem;
    }
    .box{
    height: 20vmin;
    width: 20vmin;
    margin-top: 1rem;
    }
}
